.card:hover{
    transform: translate(6px, 6px);
}

.card {
    transition: all 0.35s ease;
    border: var(--border-persik) solid 2px;
}

.siderHide{
    @media (max-width: 980px) {
        display: none;
    }
}

