.chartContainer {
  margin: 0;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  }

@media (max-width: 768px) {
  .chartContainer {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .chartContainer {
    height: 250px;
  }
}