:root {
  --background-antd: hsl(15, 100%, 94.5%);
  --layout-bg: #FFF1EC;
  --border-persik: #ffc3af;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-layout,
.ant-layout-header,
.ant-layout-sider,
.ant-layout-content {
  background-color: var(--layout-bg) !important;
}


.bg-antd-elements {
  background-color: var(--background-antd);
}
